<p style="color: green"><%= notice %></p>

<% content_for :title, "Responses" %>

<h1>Responses</h1>

<div class="responses-list">
  <% @responses.each do |response| %>
    <p class="responses-list__item">
      <%= response.prompt.content %><br>
      &rarr; <%= response.content %>
    </p>
  <% end %>
</div>