<p style="color: green"><%= notice %></p>

<% content_for :title, "Responses" %>

<h1>Responses</h1>

<div class="responses-list">
  <% @responses.each do |response| %>
    <div class="responses-list__item">
      <%= response.prompt.content %><br>
      <% response.content.lines.each_with_index do |line, index| %><span class="<%= class_names(hidden: index > 0) %>" >&rarr;</span> <%= line %><br><% end %>
    </div>
  <% end %>
</div>